:root {
    --font-size: 1;
  }
.card{

    width: 50%;       
    height: 50%;
    margin:auto;
    margin-top:10%;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin:10px;
}

p{
    text-align:justify;
    font-size:15px;
    font-size: calc(var(--font-size) * 1em);
}


  

  