.card {
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
  /* filter: grayscale(100%); */
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
}

p {
  text-align: justify;
  font-size: 15px;
}

.btn-outline-danger {
  margin: 10px;
}

.imagen {
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  margin-left: 30px;
}

#btn-mas {
  display: none;
}

.container {
  position: fixed;
}

.botones a,
.btn-mas label {
  display: block;
  text-decoration: none;
  background: #55cf6a;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}

.botones a:hover {
  background: #fff;
  color: #3bf864;
}

.botones a {
  margin-bottom: -15px;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked ~ .botones a {
  margin-bottom: 8px;
  opacity: 1;
  visibility: visible;
}

.btn-mas label {
  cursor: pointer;
  background: #6b026e;
  font-size: 25px;
}

#btn-mas:checked ~ .btn-mas label {
  /* transform: rotate(360deg); */
  font-size: 3em;
}
