.container {
  position: fixed;
}

#btn-mas {
  display: none;
}

#btn-mas:checked ~ .btn-mas label {
  font-size: 2em;
}

.fa  {
  font-size: 2vh;
}

.card {
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
  font-size: 15px;
}

.imagen {
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  margin-left: 30px;
}

.botones a,
.btn-mas label {
  display: block;
  text-decoration: none;
  background: #34495E;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.botones a:hover {
  background: #fff;
  color: #34495E;
}

.btn-mas label {
  cursor: pointer;
  background: #34495E;
  font-size: 25px;
}
