

.chat-bar-collapsible {
  position: fixed;
  bottom: 5px;
  right: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 200;
  border-radius: 18px 18px 0px 0px;

}

.btn-funciones {
  margin-bottom: 10px;
  margin-left: 11px;
}

.collapsible_up {
  background-color: #721f65;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 450px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 18px;
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: 18px 18px 0px 0px;

}


.collapsible_down {
  transition: transform 0.2s;
  background-color: #34495e;
  color: transparent;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  outline: none;
  text-transform: none;
  font-size: 18px;
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  display: inline;
  justify-content: center;
  border: none;
  margin-left: 70%;

}

.collapsible_down:hover{
  transform: scale(1.1);
  background-color:#721f65;

}

.content_chat {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.full-chat-block {
  width: 450px;
  background: white;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: max-content;
  transition: max-height 0.2s ease-out;
}

.outer-container {
  min-height: 500px;
  bottom: 0%;
  position: relative;
}

.chat-container {
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-bar-input-block {
  display: flex;
  float: left;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  float: right;
  font-size: 20px;
}

/* #chat-icon:hover {
  opacity: 0.7;
} */

/* Chat bubbles */

#userInput {
  width: 75%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: white;
  outline: none;
}

.userText {
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup 0.5s forwards;
  margin-top: 10px; /* N */
  margin-bottom: 10px; /* N */
}

.botText {
  color: #000;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.botText span {
  line-height: 1.5em;
  display: inline-block;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 80%;
  margin-left: 10px;
  animation: floatup 1s forwards;
  margin-top: 10px; /* N */
  margin-bottom: 10px; /* N */
}

@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .full-chat-block {
    width: 100%;
    border-radius: 0px;
  }

  .chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .collapsible {
    width: 100%;
    border: 0px;
    border-top: 3px solid white;
    border-radius: 0px;
  }
}

.speech-bubble {
  position: fixed;
  right:10px;
  bottom:80px;
  background: #6495ed;
  /* el color de fondo */
  color: #fff;
  /* el color del texto */
  font-family: Arial, Sans-serif;
  font-size: 12px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  width: 200px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: auto;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.speech-bubble:after {
  border: solid 10px transparent;
  border-top-color: #6495ed;
  /* igual al color de fondo */
  border-bottom: 0;
  bottom: -20px;
  /* igual al borde + el padding-bottom de la definición anterior */
  content: "";
  display: block;
  height: 10;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 0;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}


